* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

body {
    background-color:#7DCED5;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px; 
}

.TodosList {
    padding: 10px 30px; 
}

.done {
    text-decoration: line-through;
}
